:root {
    --background-color: #f9fafb;
    --text-color: #333;
    --primary-color: #007BFF;
    --icon-color: black;
    --secondary-color: #f4f4f9;
    --card-background-color: #fff;
    --button-color: white;
    --border-color: black;
  }
  
  [data-theme="dark"] {
    --background-color: #1a1a2e;
    --text-color: #eaeaea;
    --primary-color: #4ecca3;
    --secondary-color: #16213e;
    --card-background-color: #16213e;
    --icon-color: #ff8800;
    --button-color: black;
    --border-color: #ff8800;
  }

