@import "../../assets/colors/colors.css";

.profileContainer {
    padding-top: 25px;
}

.profileStatsBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}

.Box {
    min-width: 20vw;
    min-height: 70vh;
    border: 2px solid rgb(114, 114, 114);
    border-radius: 10px;
    background-color: rgb(--primary-color);
    color: rgb(238, 238, 238);
}
